body{
		background: linear-gradient(to top right, #33ccff 0%, #ff5050 100%);
		background-repeat: no-repeat;
		font-family: 'Rubik', sans-serif;
		color: black;
}

	#title{
		display: flex;
		justify-content: center;
	}

	#survey-form{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#name{
		width: 60%;
		height: 45px;
		font-size: 100%;
	}

	#email{
		width: 60%;
		height: 45px;
		padding: 12px 12px;
		font-size: 100%;
	}

	#number{
			width: 60%;
			height: 45px;
			padding: 12px 12px;
			font-size: 100%;
	}

	#submit{
			width: 15%;
			height: 200px;
			padding: 12px 12px;
			font-size: 100%;
	}


	input{
			outline: none;
			padding: 12px 12px;
	}

	::placeholder{
			font-size: 120%;
	}

	#submit{
		margin: 25px;
	}


	#name-label{
		margin: 10px;
	}

	#email-label{
		margin: 10px;
	}

	#number-label{
		margin: 10px;
	}


